<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="static\img\robot 1.png" sizes="32x32">
    <link rel="stylesheet" href="static/css/Style.css">

    <title> Black Bot </title>

</head>
<body>

    <div class="nav_var">
        <div class="upper_nav"></div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">LogIn</a></li>
            <li><a href="">SigIn</a></li>
            <li><a href="/program">programar</a></li>
        </ul>
    </div>

    {% block content %}
    {% endblock %}

    <div class="footer">
        <a href="https://github.com/augusto539/Back-Bot" id="GitHub"><img src="static\img\github.png" alt=""></a>
        <p> This is a open source prollect, if you whant you can check the code in our github</p>
    </div>
</body>
</html>