<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="static\img\robot 1.png" sizes="32x32">

    <title> Black Bot </title>

</head>
<body>
    
    <div class="nav_var">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">LogIn</a></li>
            <li><a href="">SigIn</a></li>
            <li><a href="">programar</a></li>
        </ul>
    </div>

    {% block content %}
    {% endblock %}

    <div class="footer">
        <a href="" id="Instagram"><img src="static\img\instagram.png" alt=""></a>
        <a href="" id="GitHub"><img src="static\img\github.png" alt=""></a>
        <a href="" id="E-mail"><img src="" alt=""></a>
    </div>
</body>
</html>