{% extends "layout.html" %}

{% block content %}

    <div class="program">
        <div class="contact_card">
            <div class="empty">
                <div class="circle">
                    <div class="head"></div>
                    <div class="body"></div>
                </div>
            </div>
            <h1> prueva </h1>
        </div>
        <div class="tags">
            <p class="name"> nombre </p>
            <p class="message"> mensaje </p>
            <p class="start_time"> hora de inicio </p>
            <p class="end_time"> hora final </p>
            <p class="filter"> filtro </p>
        </div>
        <div class="imput">
            <input type="text" class="name" required>
            <input type="text" class="message" required>
            <input type="time" class="start_time" id="appt" name="appt" min="00:00" max="23:59" required>
            <input type="time" class="end_time" id="appt" name="appt" min="00:00" max="23:59" required>
            <input type="text" class="filter" required>
        </div>
        <div class="buttom">
            <button> programar </button>
        </div>
    </div>

{% endblock %}